[project]
name = "cross-corners-script-ngspice"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "isort>=7.0.0",
    "ruff>=0.14.8",
]
